@import "../../../logistique/components/stock-management/stock-management.component.css";

.type-badge.entree {
    background: #d1fae5;
    color: #065f46;
}

.type-badge.sortie {
    background: #fee2e2;
    color: #991b1b;
}

.type-badge.retour {
    background: #dbeafe;
    color: #1e40af;
}